<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: [board, comment], url: board_comments_path(board, comment), method: :post, id: 'new_comment', remote: true do |f| %>
    <div id="error_messages"></div>
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control mb-3', rows: 4, placeholder: "コメント" %>
      <%= f.submit t('.submit'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>