<% if board.errors.any? %>
  <div class="alert">
    <h2><%= board.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% board.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>